<div class="filter-wrapper style1 mt-50 half-map">
    <div class="container-fluid">
        <div class="row">
            <div class="explore__map-side v2">
                <!--Map starts-->

                <div #mapContainer id="map" data-map-scroll="false">
                    <!-- map goes here -->
                </div>

                <!--Map ends-->
            </div>
            <div class="col-xl-7 offset-xl-5 col-lg-5 offset-lg-7">
                <div class="map-sidebar-content">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-sm-7 col-7 sort">

                        </div>
                        <div class="col-lg-6 col-sm-12 showing">
                            <div class="item-element res-box  sm-left">
                                <p>Showing
                                    <span>{{(pageNo-1)*10 +1}}–{{filteredHouses?.length>pageNo*10?pageNo*10:filteredHouses?.length}}
                                        of
                                        {{filteredHouses?.length}}</span> Listings</p>
                            </div>
                        </div>
                    </div>
                    <form class="hero__form v1 filter map-filter pt-20     ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 search">

                                <select class="hero__form-input  custom-select" (change)="sort($event)">
                                    <option value="relevance">Sort by Relevance</option>
                                    <option value="desc">Sort by Price(high to Low) </option>
                                    <option value="asc">Sort by Price(Low to High) </option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 pl-0">
                                <select class="hero__form-input  custom-select" (change)="changeStatus($event)">
                                    <option value="">Property Status</option>
                                    <option value="rent">For Rent </option>
                                    <option value="sale">For Sale </option>

                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 pl-0">
                                <select class="hero__form-input  custom-select" (change)="changeType($event)">
                                    <option value="">Property Type</option>
                                    <option value="house">Houses </option>
                                    <option value="condo">Condos</option>
                                    <option value="townhouse">Townhomes</option>
                                </select>
                            </div>


                            <div class="explore__form-checkbox-list full-filter">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 mb-15 pr-0">
                                        <select class="hero__form-input  custom-select">
                                            <option>Property Type</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Land</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-6  mb-15 pr-0">
                                        <select class="hero__form-input  custom-select  ">
                                            <option>Bed</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-15">
                                        <select class="hero__form-input  custom-select  ">
                                            <option>Baths</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="filter-sub-area style1">
                                            <div class="filter-title mb-10">
                                                <p>Price : <span><input type="text" id="amount_two"></span></p>
                                            </div>
                                            <div id="slider-range_two" class="price-range mb-30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="filter-sub-area style1">
                                            <div class="filter-title  mb-10">
                                                <p>Area : <span><input type="text" id="amount_one"></span></p>
                                            </div>
                                            <div id="slider-range_one" class="price-range mb-30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="filter-checkbox mb-3">
                                            <p>Sort By Features</p>
                                            <ul>
                                                <li>
                                                    <input id="check-a" type="checkbox" name="check">
                                                    <label for="check-a">Air Condition</label>
                                                </li>
                                                <li>
                                                    <input id="check-b" type="checkbox" name="check">
                                                    <label for="check-b">Swimming Pool</label>
                                                </li>
                                                <li>
                                                    <input id="check-c" type="checkbox" name="check">
                                                    <label for="check-c">Laundry Room</label>
                                                </li>
                                                <li>
                                                    <input id="check-d" type="checkbox" name="check">
                                                    <label for="check-d">Free Wifi</label>
                                                </li>
                                                <li>
                                                    <input id="check-e" type="checkbox" name="check">
                                                    <label for="check-e">Window Covering</label>
                                                </li>
                                                <li>
                                                    <input id="check-f" type="checkbox" name="check">
                                                    <label for="check-f">Central Heating </label>
                                                </li>
                                                <li>
                                                    <input id="check-g" type="checkbox" name="check">
                                                    <label for="check-g">24 hour security</label>
                                                </li>
                                                <li>
                                                    <input id="check-h" type="checkbox" name="check">
                                                    <label for="check-h">Lawn</label>
                                                </li>
                                                <li>
                                                    <input id="check-i" type="checkbox" name="check">
                                                    <label for="check-i">Gym</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn v3">Apply Filters</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="item-wrapper pt-20    ">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade  show active property-grid" id="grid-view">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-12" *ngFor="let house of paginatedHouses">
                                        <app-home-card [home]="house"></app-home-card>
                                    </div>
                                </div>
                                <!--pagination starts-->
                                <div class="post-nav nav-res pt-50  ">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2  col-xs-12 ">
                                            <div class="page-num text-center">
                                                <ul>
                                                    <li (click)="prev($event)"><a><i class="fas fa-arrow-left"></i></a>
                                                    </li>
                                                    <li *ngFor="let page of pages" [class.active]="pageNo===page"
                                                        (click)="paginate($event,page)">
                                                        <a>{{page}}</a></li>
                                                    <li (click)="next($event)"><a><i class="fas fa-arrow-right"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--pagination ends-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>