<header class="header transparent scroll-hide scroll">
    <!--Main Menu starts-->
    <div class="site-navbar-wrap v1">
        <div class="container">
            <div class="site-navbar">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6 col-9 order-2 order-xl-1 order-lg-1 order-md-1">
                        <a class="navbar-brand" routerLink="/"><img src="assets/img/luxury.png" alt="logo"
                                class="img-fluid" style="max-height:50px"></a>
                    </div>
                    <div class="col-lg-6 col-md-1 col-3  order-3 order-xl-2 order-lg-2 order-md-3 pl-xs-0">
                        <nav class="site-navigation text-right">
                            <div class="container">
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li class="has-children">
                                        <a routerLink='/listing' [queryParams]="{status: 'sale'}"> Buy</a>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink='/listing' [queryParams]="{status: 'rent'}">Rent</a>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink="listing">Listing</a>
                                        <ul class="dropdown sub-menu">
                                            <li><a routerLink="listing" [queryParams]="{status:'sale'}">Homes
                                                    for sale</a>
                                            </li>
                                            <li><a routerLink="listing"
                                                    [queryParams]="{listing:'foreclosures'}">Foreclosures </a></li>
                                            <li><a routerLink="listing" [queryParams]="{listing:'sale by owner'}">For
                                                    sale by owner </a>
                                            </li>
                                            <li><a routerLink="listing" [queryParams]="{listing:'open house'}">Open
                                                    houses </a>
                                            </li>
                                            <li><a routerLink="listing" [queryParams]="{listing:'new construction'}">New
                                                    construction
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink="/listing">Property</a>
                                        <ul class="dropdown">
                                            <li><a routerLink="/listing" [queryParams]="{type:'house'}">Houses</a></li>
                                            <li><a routerLink="/listing"
                                                    [queryParams]="{type:'condo'}">Condos-co-ops</a></li>
                                            <li><a routerLink="/listing"
                                                    [queryParams]="{type:'townhouse'}">Townhomes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink="/news">News</a>
                                    </li>
                                    <li class="d-lg-none"><a class="btn v3"><i class="lnr lnr-home"></i>Add Listing </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="d-lg-none sm-right">
                            <a (click)="menuOn($event)" class="mobile-bar js-menu-toggle">
                                <span class="fas fa-bars"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12 order-1 order-xl-3 order-lg-3 order-md-2 text-right pr-xs-0">
                        <div class="menu-btn">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Menu ends-->
</header>