<header class="header transparent scroll-hide scroll">
    <!--Main Menu starts-->
    <div class="site-navbar-wrap v1">
        <div class="container">
            <div class="site-navbar">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6 col-9 order-2 order-xl-1 order-lg-1 order-md-1">
                        <a class="navbar-brand" routerLink="/"><img src="images/logo-white.png" alt="logo"
                                class="img-fluid"></a>
                    </div>
                    <div class="col-lg-6 col-md-1 col-3  order-3 order-xl-2 order-lg-2 order-md-3 pl-xs-0">
                        <nav class="site-navigation text-right">
                            <div class="container">
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li class="has-children">
                                        <a routerLink='/listing' [queryParams]="{status: 'buy'}"> Buy</a>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink='/listing' [queryParams]="{status: 'rent'}">Rent</a>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink="listing">Listing</a>
                                        <ul class="dropdown sub-menu">
                                            <li><a routerLink="listing"
                                                    [queryParams]="{listingType:'homes-for-sale'}">Homes for sale</a>
                                            </li>
                                            <li><a routerLink="listing"
                                                    [queryParams]="{listingType:'foreclosures'}">Foreclosures </a></li>
                                            <li><a routerLink="listing"
                                                    [queryParams]="{listingType:'sale-by-owner'}">For sale by owner </a>
                                            </li>
                                            <li><a routerLink="listing" [queryParams]="{listingType:'open-house'}">Open
                                                    houses </a>
                                            </li>
                                            <li><a routerLink="listing"
                                                    [queryParams]="{listingType:'new-construction'}">New construction
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a routerLink="/listing">Property</a>
                                        <ul class="dropdown">
                                            <li><a routerLink="/listing" [queryParams]="{type:'houses'}">Houses</a></li>
                                            <li><a routerLink="/listing"
                                                    [queryParams]="{type:'condos/co-ops'}">Condos-co-ops</a></li>
                                            <li><a routerLink="/listing"
                                                    [queryParams]="{type:'apartments'}">Apartments</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">News</a>
                                        <ul class="dropdown">
                                            <li><a href="news-left-sidebar.html">News Left sidebar</a></li>
                                            <li><a href="news-right-sidebar.html">News right sidebar</a></li>
                                            <li><a href="news-without-sidebar.html">News without sidebar</a></li>
                                            <li><a href="single-news-one.html">Single News one</a></li>
                                            <li><a href="single-news-two.html">Single News two</a></li>
                                            <li><a href="single-news-three.html">Single News three</a></li>
                                        </ul>
                                    </li>
                                    <li class="d-lg-none"><a class="btn v3"><i class="lnr lnr-home"></i>Add Listing </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="d-lg-none sm-right">
                            <a (click)="menuOn($event)" class="mobile-bar js-menu-toggle">
                                <span class="fas fa-bars"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12 order-1 order-xl-3 order-lg-3 order-md-2 text-right pr-xs-0">
                        <div class="menu-btn">
                            <div class="add-list float-right ml-3">
                                <a class="btn v6"><i class="lnr lnr-home"></i>Add Listing </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Menu ends-->
</header>