.footer-wrapper {
    position: relative;
    padding-top: 50px;
}

.footer-wrapper.v1 {
    background: #f5f6f7;
    border-top: 1px solid #eee;
}

.footer-wrapper.v2 {
    background: #6449e7;
}

.footer-wrapper.v3 {
    background-color: #FFF;
    border-top: 1px solid #eee;
}

.footer-wrapper.footer-fixed {
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content.nav {
    display: inline-block;
    text-align: left;
}

.footer-logo {
    margin-top: 15px;
}

.footer-logo img {
    margin-bottom: 18px;
    max-width: 200px
}

/* .footer-top-area {
    color: #fff;
    position: relative;
}

.footer-wrapper.v1 .footer-top-area {
    border-bottom: 1px solid rgba(221, 221, 221, 0.14);
} */

.footer-top-area .container {
    padding-bottom: 30px;
}

.footer-social-wrap p {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 15px;
}

.footer-wrapper.v1 .footer-social-wrap p {
    color: #555;
}

.footer-wrapper.v3 .footer-social-wrap p {
    color: #666;
}

.footer-bottom-area {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-bottom-area p {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.footer-wrapper.v1 .footer-bottom-area p {
    color: #555;
}

.footer-wrapper.v3 .footer-bottom-area p {
    color: #666;
}

.footer-top-area .footer-content .title {
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
}

.footer-wrapper.v1 .footer-top-area .footer-content .title {
    color: #555;
}

.footer-wrapper.v3 .footer-top-area .footer-content .title {
    color: #666;
}

.footer-top-area .contact-info .icon {
    font-size: 15px;
    width: 30px;
    text-align: center;
}

.footer-content li {
    padding-bottom: 10px;
}



.footer-wrapper.v3 .footer-content ul li a.link-hov.style2 {
    color: #666;
}

.footer-wrapper.v3 .footer-content ul li a.link-hov.style2:hover {
    color: #555;
}

.footer-wrapper.v3 .footer-content ul li a.link-hov.style2:before {
    color: #555;
}

.footer-wrapper.v1 .footer-content ul li a.link-hov.style2 {
    color: #555;
}

.footer-wrapper.v1 .footer-content ul li a.link-hov.style2:hover {
    color: #333;
}

.footer-wrapper.v1 .footer-content ul li a.link-hov.style2:before {
    background: #333;
}

.footer-wrapper.v2 .footer-content ul li a.link-hov.style2 {
    color: #fff;
}

.footer-wrapper.v2 .footer-content ul li a.link-hov.style2:hover {
    color: #ddd;
}

.footer-wrapper.v2 .footer-content ul li a.link-hov.style2:before {
    background: #ddd;
}

.footer-content ul li a.link-hov.style2:hover {
    color: #ddd;
}

.footer-content ul li a.link-hov.style2:before {
    background: #ddd;
}

.footer .info,
.phone-number,
.email {
    color: #7a7a7a;
    font-size: 14px;
}

.company-desc p {
    font-size: 14px;
    color: #fff;
}

.footer-wrapper.v1 .company-desc p {
    color: #555;
}

.footer-wrapper.v3 .company-desc p {
    color: #666;
}

.footer .info {
    margin-bottom: 10px;
}

.footer .info,
.phone-number {
    color: #fff;
    font-size: 14px;
}

.phone-number span,
.email span {
    color: #888;
}

.footer-content ul li a {
    font-size: 15px;
}

.social-buttons.style2 li a i {

    font-size: 18px;

}

.footer-wrapper.v1 .social-buttons.style2 li a i {
    color: #555;
}

.footer-wrapper.v3 .social-buttons.style2 li a i {
    color: #666;
}

.contact-info {
    margin-bottom: 10px
}

.contact-info .icon {
    font-size: 18px;
    padding-right: 10px;
    width: 30px;
    color: #fff;
}

.footer-wrapper.v1 .contact-info .icon {
    color: #555;
}

.footer-wrapper.v3 .contact-info .icon {
    color: #666;
}

.contact-info .icon,
.contact-info .text {
    display: table-cell;
}

.contact-info .text,
.contact-info .text a {
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400 !important;
}

.footer-wrapper.v1 .contact-info .text,
.footer-wrapper.v1 .contact-info .text a {
    color: #555;
}

.footer-wrapper.v3 .contact-info .text,
.footer-wrapper.v3 .contact-info .text a {
    color: #666;
}


.value-input-wrap button {
    position: absolute;
    right: 0;

    border: none;
    background: #fa6742;
    color: #fff;

    cursor: pointer;
    line-height: 31px;
}