<div class="hero-parallax bg-fixed" style="background-image: url(assets/img/1.jpg)">
    <div class="overlay op-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-slider-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="header-text v2">
                                <span>Click or call we do it all </span>
                                <h1>Find Properties that make you money</h1>
                                <p>Fing properties in triangle area. We have the most listings and constant updates.
                                    So you’ll never miss out.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-12">
                            <div class="hero-slider-info">
                                <form class="hero__form v3 filter listing-filter" ngForm #first="ngForm">
                                    <h4>Find your dream home</h4>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <div class="input-search">
                                                <input type="text" name="zipcodeID" id="place-event"
                                                    placeholder="Enter Zip Code..." ngModel>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select" name="status"
                                                ngModel="Property Status">
                                                <option value="Property Status">Property Status</option>
                                                <option value="rent">For Rent</option>
                                                <option value="sale">For Sale</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select" name="type"
                                                ngModel="Property Type">
                                                <option value="Property Type">Property Type</option>
                                                <option value="house">Houses</option>
                                                <option value="condo">Condos/co-ops</option>
                                                <option value="townhouse">Townhomes</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-lg-6 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select" name="bd" ngModel="Bed">
                                                <option value="Bed">Bed</option>
                                                <option value="1">1+</option>
                                                <option value="2">2+</option>
                                                <option value="3">3+</option>
                                                <option value="4">4+</option>
                                                <option value="5">5+</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-lg-6 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select" name="ba" ngModel="Bath">
                                                <option value="Bath">Bath</option>
                                                <option value="1">1+</option>
                                                <option value="2">2+</option>
                                                <option value="3">3+</option>
                                                <option value="4">4+</option>
                                                <option value="5">5+</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-8 col-sm-12">
                                            <div class="filter-sub-area style1">
                                                <div class="filter-title mb-10">
                                                    <p>Price : <span><input type="text" id="amount_two" name="price"
                                                                ngModel></span>
                                                    </p>
                                                </div>
                                                <div id="slider-range_two" class="price-range mb-20">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="search_btn">
                                                <a (click)="findHouses(first)">Search Property</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>