<div class="site-mobile-menu" [class.show]="this.showMenu.menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close  js-menu-toggle">
            <i class="fa fa-times" (click)="menuOff($event)"></i> </div>
    </div>
    <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
            <li class="has-children">
                <a (click)="menuOff($event)" routerLink="">Home</a>

            </li>
            <li class="has-children">
                <a (click)="menuOff($event)" routerLink='/listing' [queryParams]="{status: 'sale'}">Buy</a>

            </li>
            <li class="has-children">
                <a (click)="menuOff($event)" routerLink='/listing' [queryParams]="{status: 'rent'}">Rent</a>

            </li>
            <li class="has-children">
                <a (click)="menuOff($event)" routerLink="/news">News</a>

            </li>
        </ul>
    </div>
</div>