<div class="swiper-slide f-card">
    <div class="f-card__property-item">
        <a class="f-card__property-img" href="single-listing-two.html"><img [src]="property.img" alt="..."> </a>
        <ul class="feature_text">
            <li class="feature_cb"><span>Featured</span></li>
            <li class="feature_or"><span>For Rent</span></li>
        </ul>
        <div class="f-card__property-author-wrap">
            <a href="#" class="f-card__property-author">
                <h4>Family Apartment </h4>
            </a>
            <ul class="f-card__property-feature">
                <li>
                    <span>2 Bed</span>
                </li>
                <li>
                    <span>2 Bath</span>
                </li>
                <li>
                    <span>1400 sqft</span>
                </li>

            </ul>
            <div class="f-card__featured-price">
                <p>$1200<span class="per_month">month</span></p>
            </div>
        </div>
    </div>

</div>