<div class="swiper-slide single-property-box">
    <div class="property-item">
        <a class="property-img" href="single-listing-two.html"><img src="assets/img/f1.webp" alt="..."> </a>
        <ul class="feature_text">
            <li class="feature_cb"><span>Featured</span></li>
            <li class="feature_or"><span>For Rent</span></li>
        </ul>
        <div class="property-author-wrap">
            <a href="#" class="property-author">
                <h4>Family Apartment </h4>
            </a>
            <ul class="property-feature">
                <li>
                    <span>2 Bed</span>
                </li>
                <li>
                    <span>2 Bath</span>
                </li>
                <li>
                    <span>1400 sqft</span>
                </li>

            </ul>
            <div class="featured-price">
                <p>$1200<span class="per_month">month</span></p>
            </div>
        </div>
    </div>

</div>