<div class="site-mobile-menu-close  js-menu-toggle">
    <i class="fa fa-times" (click)="qvOff($event)"></i>
</div>

<div style="background: black;">
    <div class="m-container" style="background-color: white;">
        <div class="img-container">
            <div class="main-img imgs">
                <img [src]="this.qvService.home?.gallery[0]" alt="" (click)="showSlider(0)">
            </div>
            <div class="b-imgs">
                <div class="imgs">
                    <img [src]="this.qvService.home?.gallery[1]" alt="" (click)="showSlider(1)">
                </div>
                <div class="imgs">
                    <img [src]="this.qvService.home?.gallery[2]" alt="" (click)="showSlider(2)">
                </div>
                <div class="imgs">
                    <img [src]="this.qvService.home?.gallery[3]" alt="" (click)="showSlider(3)">
                </div>
                <div class="imgs">
                    <img [src]="this.qvService.home?.gallery[4]" alt="" (click)="showSlider(4)">
                </div>
            </div>
        </div>
        <div class="information">
            <div class="info">
                <h2 style="color:rgb(87, 87, 87);margin-top:1em;"><i
                        class="fas fa-map-marker-alt"></i>{{this.qvService.home?.location}}</h2>
                <p style="color:rgb(87, 87, 87);margin-top:1em; font-size: 1.2rem; margin-top: 0;">
                    <span>{{this.qvService.home?.price| currency:'USD':'symbol':'1.0' }} </span><span>|</span>
                    <span> {{this.qvService.home?.bd}} bed </span> <span>|</span>
                    <span> {{this.qvService.home?.ba}} bath </span><span>|</span>
                    <span> {{this.qvService.home?.sqft}} sqft </span>
                </p>
                <div>
                    <h3 style="margin-bottom: 0.3em;color:rgb(87, 87, 87);">Description</h3>
                    <p style="margin-top: 0;">
                        One of the last great estates at {{this.qvService.home?.location}}, this home has not been
                        available for 40 years.
                        Sited on
                        1.3 acres, the
                        property offers the main house, detached quarters, cabana, tennis court and putting green. A
                        rare
                        opportunity in Old
                        Highland Park!
                    </p>
                </div>
                <div>
                    <h3 style="margin-bottom: 0.3em;color:rgb(87, 87, 87);">Features</h3>

                    <ul style="margin-top: 0;" class="listing-features">
                        <li><i class="fa fa-paw"></i>Pets: {{this.qvService.home?.features.pets}}</li>
                        <li><i class="fa fa-fan"></i>Heating: {{this.qvService.home?.features.heating}}</li>
                        <li><i class="fa fa-car-side"></i>Parking: {{this.qvService.home?.features.parking}}</li>
                        <li><i class="fa fa-dumpster"></i>Laundry: {{this.qvService.home?.features.laundry}}</li>
                        <li><i class="fa fa-swimmer"></i>Pool: {{this.qvService.home?.features.pool}}</li>
                        <li><i class="fa fa-dumbbell"></i>Gym: {{this.qvService.home?.features.gym}}</li>
                    </ul>
                </div>
            </div>
            <div class="contact">

                <form>
                    <h3 style="color:rgb(87, 87, 87); width:100%">Contact Agent</h3>
                    <div class="row" style="margin-top: 1.5em; ">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Name" style="border-radius: 5px;">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1.5em;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" style="border-radius: 5px;">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2em; ">
                        <div class="col">
                            <textarea class="form-control" id="txtArea" rows="3" style="border-radius: 5px;"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-bgcolor"
                        style="margin-top: 2em">Contact</button>
                </form>
            </div>
        </div>

    </div>

</div>