.img-container{
    display:grid;
    grid-template-columns: 50% 50%;
    height: auto;
    overflow: hidden;
}
.m-container{
    margin:0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-bottom: 10em;
}
.b-imgs{
    object-fit: cover;
    overflow: hidden;
        display:grid;
    grid-template-columns: 1fr 1fr;
}

.mb-back{
    background-color: rgb(255, 255, 255);
    padding:1em 3em;
    font-weight: 700;
    color:rgb(2, 2, 255);
    cursor: pointer;
    display: none;

}
.imgs {
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    img{
        min-height: 100%;
        width:100%;
    transition: 2s;
    }
    &:hover img{
    transform: scale(1.2);
}
}

.main-img{
    object-fit: cover;
    img{
        min-height: 100%;
    }
    &:hover img{
    transform:scale(1.2);
}
}



.information{
    display:flex;
}

.info{
    width:50%;
    margin-left:5em;
}

.listing-features {
    columns: 3;
    li {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: 400;
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    i {
    position: absolute;
    left: 0;
    top: 7px;
    color: #6449e7;
    font-size: 15px;
    opacity: 0.7;
}
}
}
.contact{
    margin-top:30px;  
    width:50%;
        form{
         border: solid 1px rgb(207, 207, 207); 
         border-radius:10px; 
         padding: 2.5em; 
         margin:0 6em;
    }
}

.btn-bgcolor{
    background-color: #6449e7 !important;
    border:#6449e7;
}

.info{
    h2{
        i{
            color:#6449e7;
        }
    }
}
.site-mobile-menu-close.js-menu-toggle i {
    color: #fff;
    margin-left: 15px;
    position: absolute;
    right:0;
    top: -30px;
    font-size: 25px !important;
    cursor: pointer;
}


@media screen and (max-width:1279.5px){
    .b-imgs{
        min-width: 500px;
    }
    .img-container{
        height:auto;
    }
    .m-container{
        width:auto;
    }
    .main-img{
        min-width: 500px;
    }

}

@media (min-width:799.5px)and(max-width:1000px){
    .b-imgs{
        min-width: 400px;
    }
    .img-container{
        height:auto;
    }
    .m-container{
        width:auto;
    }
    .main-img{
        min-width: 400px;
    }
        .information{
    flex-direction: column;
    min-width: auto;
}
    .info{
    width:100%;
    margin-left: 0 !important;
    padding:0 3em;
}
.contact{
    width:100%;
    form{
        margin:1em;
    }
}

}

@media screen and (max-width:799.5px){
    .b-imgs{
        display:none;
        // min-width: 400px;
    }
    .img-container{
        grid-template-columns: 100%;
        height:auto;
    }
    .m-container{
        width:auto;
    }
    .main-img{

        min-width: 600px;
    }
    .information{
    flex-direction: column;
    min-width: auto;
}

.info{
    width:100%;
    margin-left: 0 !important;
    padding:0 3em;
}
.contact{
    width:100%;
    form{
        margin:1em;
    }
}

}


@media screen and (max-width:655px){
    .mb-back{
        display:block;
    }
    .main-img{
        max-height: 70vh;
        width: 100%;
    }
}